@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* Default browser styles reset*/

* {
  margin: 0;
}

h1, h2, h3, h4, h6, h6 {
  font-size: inherit;
  font-weight: bold;
  color: black;
}
h2 {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

/* Box-sizing reset method*/

html, body, input, button, div {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Lists reset*/

ul {
  padding-left: 0;
}

ul>li {
  list-style: none;
}

/* Links style reset */

a {
  text-decoration: none;
}

/* Font family */

* {
  font-family: 'IBM Plex Mono', monospace;
}

/* COLORS */

:root {
  --c-light-gray: #f0f0f0;
  --c-black-60: rgba(0, 0, 0, 0.6);
  --c-black-30: rgba(0, 0, 0, 0.3);
  --c-black-12: rgba(0, 0, 0, 0.12);
  --c-black-08: rgba(0, 0, 0, 0.08);
  --c-black-04: rgba(0, 0, 0, 0.04);
  --c-white-70: rgba(255, 255, 255, 0.7);
  --c-white-40: rgba(255, 255, 255, 0.4);
  --c-white-20: rgba(255, 255, 255, 0.2);
  --c-error: #D21111;
}
