/* Default browser styles reset*/

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h6,
h6 {
    font-size: inherit;
    font-weight: bold;
}

/* Box-sizing reset method*/

html,
body,
input,
button,
div {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Lists reset*/

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
}

/* Links style reset */

a {
    text-decoration: none;
}

/* Set divs to have border-box */

div {
    box-sizing: border-box;
}
