$black-a80: rgba(0, 0, 0, 0.8);
$black-a60: rgba(0, 0, 0, 0.6);
$black-a45: rgba(0, 0, 0, 0.45);
$black-a30: rgba(0, 0, 0, 0.3);
$black-a12: rgba(0, 0, 0, 0.12);
$black-a08: rgba(0, 0, 0, 0.08);
$black-a04: rgba(0, 0, 0, 0.04);
$success: #468c11;
$error: #e75d36;
